*.class
.project
.classpath
.settings/
BaseCrawler/bin
CumhuriyetCrawler/bin
HurriyetCrawler/bin
MilliyetCrawler/bin
SabahCrawler/bin
SozcuCrawler/bin
YeniSafakCrawler/bin
ZamanCrawler/bin
RadikalCrawler/bin
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
